@page "/tasks/create"
@using TaskManager.Features.Tasks.Dtos
@using TaskManager.UI.Services
@inject TaskApiService TaskService
@inject NavigationManager Navigation

<h3>Create Task</h3>

<input @bind="task.Title" />

<button @onclick="CreateTask" disabled="@(isLoading || string.IsNullOrWhiteSpace(task.Title))">
    Create
</button>

<a href="/tasks" class="btn btn-primary">
    Back
</a>

@if (isLoading) {
    <p>Creating...</p>
}

@code {
    private CreateTaskItemDto task = new();
    private bool isLoading;

    private async Task CreateTask()
    {
        if (string.IsNullOrWhiteSpace(task.Title))
            return;

        if (isLoading) return;

        isLoading = true;

        await TaskService.CreateTaskAsync(task);

        task = new CreateTaskItemDto();

        isLoading = false;

        Navigation.NavigateTo("/tasks");
    }
}