@page "/tasks/{id:int}"
@using TaskManager.Features.Tasks.Dtos
@inject TaskManager.UI.Services.TaskApiService TaskService
@inject NavigationManager Navigation

@if (isLoading) {
    <p>Loading tasks...</p>
}
else if (Task == null) {
    <p>No task found</p>
}
else {
    @if (!isEditMode) {
        <h3>Task Details</h3>

        <p>Title: @Task.Title</p>
        <p>Status: @Task.Status</p>

        <button class="btn btn-primary" @onclick="EnableEdit">
            Edit
        </button>
    }
    else {
        <h3>Edit Task</h3>

        <input @bind="Task.Title" class="form-control" />

        <button class="btn btn-success" @onclick="Save">
            Save
        </button>

        <button class="btn btn-secondary" @onclick="Cancel">
            Cancel
        </button>
    }
}
<a href="/tasks" class="btn btn-primary">
    Back
</a>

@code {
    [Parameter]
    public int Id { get; set; }

    public ReadTaskItemDto? Task { get; set; }
    private ReadTaskItemDto originalTask;

    private bool isLoading;
    private int currentRequestId;
    private bool isEditMode = false;

    protected override async Task OnParametersSetAsync()
    {
        await LoadTask();
    }

    private async Task LoadTask()
    {
        //если пользователь быстро перейдёт между задачами → возможны “перемешанные ответы”
        //Фикс requestId:
        var requestId = ++currentRequestId; 

        isLoading = true;
        
        var result = await TaskService.GetTaskByIdAsync(Id);
        
        if (requestId != currentRequestId)
            return;

        Task = result;

        isLoading = false;
    }

    private void EnableEdit()
    {
        originalTask = new ReadTaskItemDto
        {
            Id = Task.Id,
            Title = Task.Title,
            Status = Task.Status,
            CreatedAt = Task.CreatedAt,
            UpdatedAt = Task.UpdatedAt,
            DeletedAt = Task.DeletedAt
        };

        isEditMode = true;
    }

    private void Cancel()
    {
        Task = originalTask;
        isEditMode = false;
    }

    private async Task Save()
    {
        Task = await TaskService.UpdateTaskAsync(Task);
        isEditMode = false;
    }
}
