@page "/"
@page "/tasks"
@using TaskManager.Features.Tasks.Application.Models
@using TaskManager.Features.Tasks.Dtos
@using TaskManager.UI.Components.Common
@inject TaskManager.UI.Services.TaskApiService TaskService

<h3>Tasks List</h3>

@if (tasks == null) {
    <p>Loading...</p>
}
else {
    @* <button @onclick="Test">
        TEST
    </button> *@
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in tasks.Items) {
                <TaskRow Task="@task" OnCompleteCallback="@(() => CompleteTask(task.Id))" OnDeleteCallback="@(() => DeleteTask(task.Id))"/>
            }
        </tbody>
    </table>
}

@code {
    private PagedResult<ReadTaskItemDto> tasks;

    protected override async Task OnInitializedAsync()
    {
        tasks = await TaskService.GetTasksAsync();
    }

    private async Task CompleteTask(int id)
    {
        await TaskService.CompleteTaskAsync(id);
        tasks = await TaskService.GetTasksAsync();
    }

    private async Task DeleteTask(int id)
    {
        await TaskService.DeleteTaskAsync(id);
        tasks = await TaskService.GetTasksAsync();
    }
}