@page "/"
@page "/tasks"
@using TaskManager.Features.Tasks.Application.Models
@using TaskManager.Features.Tasks.Dtos
@using TaskManager.UI.Components.Common
@inject TaskManager.UI.Services.TaskApiService TaskService

<h3>Tasks List</h3>

@if (isLoading) {
    <p>Loading tasks...</p>
}
else if (tasks.Items.Count == 0) {
    <p>No tasks found</p>
}
else {
    @* <button @onclick="Test">
        TEST
    </button> *@
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in tasks.Items) {
                <TaskRow Task="@task" OnCompleteCallback="@(() => CompleteTask(task.Id))" OnDeleteCallback="@(() => DeleteTask(task.Id))"/>
            }
        </tbody>
    </table>
    <a href="/tasks/create" class="btn btn-primary">
        Create Task
    </a>
}

@code {
    private PagedResult<ReadTaskItemDto> tasks = new();
    private bool isLoading;

    protected override async Task OnInitializedAsync()
    {
        await LoadTasks();
    }

    private async Task CompleteTask(int id)
    {
        await TaskService.CompleteTaskAsync(id);
        await LoadTasks();
    }

    private async Task DeleteTask(int id)
    {
        await TaskService.DeleteTaskAsync(id);
        await LoadTasks();
    }

    private async Task LoadTasks()
    {
        isLoading = true;
        tasks = await TaskService.GetTasksAsync();
        isLoading = false;
    }
}